html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    padding: 4rem;
    margin-top: 0;
    background-color: hsla(50, 94%, 25%, 0.3);
}
.article {
    padding: 0 4rem;
}
.site-wrap {
    max-width: 75%;
    margin: 100px auto;
    background: white;
    padding: 40px;
    text-align: justify;
}
.align-left {
    float: left;
    margin-right: 20px;
}
.align-right {
    float: right;
    margin-left: 20px;
}
.slide-in {
    opacity: 0;
    transition: all .5s;
}
.align-left.slide-in {
    transform: translateX(-30%) scale(0.95);
}
.align-right.slide-in {
    transform: translateX(30%) scale(0.95);
}
.slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}